[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/javier/Desktop/New File]
row=0
col=0

[2023-01-11-16-28-12-93]
row=1
col=0

[Trash]
row=2
col=0

[/]
row=3
col=0

[/home/javier]
row=0
col=1

